In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import FeatureUnion
from sklearn.linear_model.logistic import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

class Get_Price_Rate(BaseEstimator, TransformerMixin):
    '''
    get price rate
    '''

    def get_feature_names(self):

        return [self.__class__.__name__]

    def fit(self, date_frame, y=None):
        '''
        fit

        :param pandas.DataFrame: all data
        :rtype: Get_Price_Rate
        '''

        return self

    def transform(self, date_frame):
        '''
        transform

        :param pandas.DataFrame: all data
        :rtype: array
        '''

        return date_frame["PRICE_RATE"].as_matrix()[None].T.astype(np.float)


class Get_Match_Pref(BaseEstimator, TransformerMixin):
    '''
    get user pref is match coupon area
    '''

    def get_feature_names(self):

        return [self.__class__.__name__]

    def fit(self, date_frame, y=None):
        '''
        fit

        :param pandas.DataFrame: all data
        :rtype: Get_Price_Rate
        '''

        return self

    def transform(self, date_frame):
        '''
        transform

        :param pandas.DataFrame: all data
        :rtype: array
        '''
        res_sr = date_frame["PREF_NAME"] == date_frame["ken_name"]

        return res_sr.as_matrix()[None].T.astype(np.float)


def top_merge(df, n=10, column="predict", merge_column="COUPON_ID_hash"):
    '''
    get top n row

    :param pandas.DataFrame df:
    :param int n:
    :param str column:
    :rtype: pandas.DataFrame
    '''

    return " ".join(df.sort_index(by=column)[-n:][merge_column])

feature_list = [
    ('PRICE_RATE', Get_Price_Rate()),
    ('MATCH_PREF', Get_Match_Pref()),
]

In [2]:
# import csv
user_df = pd.read_csv("../data/user_list.csv")
train_coupon_df = pd.read_csv("../data/coupon_list_train.csv")
train_visit_df = pd.read_csv("../data/coupon_visit_train.csv")
test_coupon_df = pd.read_csv("../data/coupon_list_test.csv")

In [3]:
# create train_df
train_df = pd.merge(train_visit_df, train_coupon_df,
                    left_on="VIEW_COUPON_ID_hash", right_on="COUPON_ID_hash")
train_df = pd.merge(train_df, user_df,
                    left_on="USER_ID_hash", right_on="USER_ID_hash")

In [4]:
%whos

Variable             Type         Data/Info
-------------------------------------------
BaseEstimator        type         <class 'sklearn.base.BaseEstimator'>
FeatureUnion         ABCMeta      <class 'sklearn.pipeline.FeatureUnion'>
Get_Match_Pref       type         <class '__main__.Get_Match_Pref'>
Get_Price_Rate       type         <class '__main__.Get_Price_Rate'>
LabelEncoder         type         <class 'sklearn.preproces<...>sing.label.LabelEncoder'>
LogisticRegression   type         <class 'sklearn.linear_mo<...>stic.LogisticRegression'>
OneHotEncoder        type         <class 'sklearn.preproces<...>sing.data.OneHotEncoder'>
TransformerMixin     type         <class 'sklearn.base.TransformerMixin'>
autopep8             module       <module 'autopep8' from '<...>e-packages\\autopep8.py'>
feature_list         list         n=2
np                   module       <module 'numpy' from 'D:\<...>ges\\numpy\\__init__.py'>
os                   module       <module 'os' from 'D:\\anaconda\\lib\\os.py'>
pd                   module       <module 'pandas' from 'D:<...>es\\pandas\\__init__.py'>
test_coupon_df       DataFrame         Unnamed: 0          <...>\n[310 rows x 25 columns]
top_merge            function     <function top_merge at 0x00000254B46C6598>
train_coupon_df      DataFrame           Unnamed: 0        <...>[19413 rows x 25 columns]
train_df             DataFrame             PURCHASE_FLG    <...>517206 rows x 39 columns]
train_visit_df       DataFrame             PURCHASE_FLG    <...>2833180 rows x 8 columns]
user_df              DataFrame           Unnamed: 0        <...>n[22873 rows x 7 columns]

In [5]:
del train_visit_df
del train_coupon_df

# GENRE_NAME, DISCOUNT_PRICE, KEN_NAME, AGE, SEX_ID

In [35]:
length = len(train_df)

In [7]:
a = train_df['GENRE_NAME'].values.reshape(length, 1)
B = train_df['DISCOUNT_PRICE'].values.reshape(length, 1)
c = train_df['ken_name'].values.reshape(length, 1)
d = train_df['SEX_ID'].values.reshape(length, 1)
y_train = train_df['PURCHASE_FLG'].values.reshape(length, 1)

In [50]:
a = train_df['GENRE_NAME']
b = train_df['DISCOUNT_PRICE'].values.reshape(length,1)
c = train_df['ken_name']
d = train_df['SEX_ID']
y_train = train_df['PURCHASE_FLG']

In [9]:
le = [LabelEncoder() for _ in range(0,4)]

In [10]:
ohe = [OneHotEncoder() for _ in range(0,4)]

In [72]:
tmp = LabelEncoder()

In [73]:
tmp.fit(a)

LabelEncoder()

In [81]:
wow = tmp.transform(a)
wow = wow.reshape(len(wow),1)

In [77]:
aa = test_df['GENRE_NAME']

In [90]:
wow1 = tmp.transform(aa)
wow1 = wow1.reshape(len(wow1),1)

In [82]:
tmp1 = OneHotEncoder(n_values=13)

In [84]:
tmp1.fit(wow)

OneHotEncoder(categorical_features='all', dtype=<class 'numpy.float64'>,
       handle_unknown='error', n_values=13, sparse=True)

In [87]:
tmp1.transform(wow).toarray()[0]

array([0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [92]:
tmp1.transform(wow1).toarray()[0]

array([0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [11]:
def category_to_ohe(column,le,ohe):
    '''
    Converting category column into one-hot-encoded for X_train
    '''
    le.fit(column)
    labled = le.transform(column).reshape(length,1)
    
    ohe.fit(labled)
    
    return ohe.transform(labled).toarray()

In [17]:
converted = [category_to_ohe(a,le[0],ohe[0]), b , category_to_ohe(c,le[2],ohe[2]), category_to_ohe(d,le[3],ohe[3])]

In [18]:
len(converted[0][0])

13

In [19]:
len(converted[2][0])

47

In [20]:
len(converted[3][0])

2

In [21]:
X_train = np.hstack((converted[0], converted[1], converted[2], converted[3]))

In [22]:
del converted

In [23]:
# fit model
clf = LogisticRegression()
clf.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [24]:
# create test_df
test_coupon_df["cross"] = 1
user_df["cross"] = 1
test_df = pd.merge(test_coupon_df, user_df, on="cross")

In [25]:
del test_coupon_df
del user_df

In [26]:
length = len(test_df)
a = test_df['GENRE_NAME']
b = test_df['DISCOUNT_PRICE'].values.reshape(length,1)
c = test_df['ken_name']
d = test_df['SEX_ID']

In [27]:
converted = [category_to_ohe(a,le[0],ohe[0]), b , category_to_ohe(c,le[2],ohe[2]), category_to_ohe(d,le[3],ohe[3])]

In [28]:
len(converted[0][0])

12

In [29]:
len(converted[2][0])

34

In [30]:
len(converted[3][0])

2

In [31]:
X_test = np.hstack((converted[0], converted[1], converted[2], converted[3]))

In [34]:
# predict test data
predict_proba = clf.predict_proba(X_test)

# 클래스가 1이면 산다라고 분류
# 그러니까 아래 코드는 사는 놈들의 스코어를 위한 인덱스
pos_idx = np.where(clf.classes_ == True)[0][0]

test_df["predict"] = predict_proba[:, pos_idx]
top10_coupon = test_df.groupby("USER_ID_hash").apply(top_merge)
top10_coupon.name = "PURCHASED_COUPONS"
top10_coupon.to_csv("submission.csv", header=True)

ValueError: X has 49 features per sample; expecting 63

In [36]:
predict_proba

array([[0.96064285, 0.03935715],
       [0.96064285, 0.03935715],
       [0.96064285, 0.03935715],
       ...,
       [0.9624751 , 0.0375249 ],
       [0.9624751 , 0.0375249 ],
       [0.9624751 , 0.0375249 ]])

In [34]:
predict_proba[:,pos_idx]

array([0.03935715, 0.03935715, 0.03935715, ..., 0.0375249 , 0.0375249 ,
       0.0375249 ])

In [32]:
test_df.sort_index(by='predict')

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

,Unnamed: 0_x,CAPSULE_TEXT,GENRE_NAME,PRICE_RATE,CATALOG_PRICE,DISCOUNT_PRICE,DISPFROM,DISPEND,DISPPERIOD,VALIDFROM,...,COUPON_ID_hash,cross,Unnamed: 0_y,REG_DATE,SEX_ID,AGE,WITHDRAW_DATE,PREF_NAME,USER_ID_hash,predict
7090629,309,Hotel,Hotel and Japanese hotel,50,28000,14000,2012-06-29 12:00:00,2012-07-03 12:00:00,4,2012-07-09,...,f9c657ce7ca80b3766ced3a9a3c709bb,1,22872,2011-02-24 15:43:18,f,38,NaN,Saitama Prefecture,280f0cedda5c4b171ee6245889659571,0.037525
4014015,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11240,2011-05-11 06:38:34,m,71,NaN,Fukuoka Prefecture,d472b35172ea017a27727877eed56e77,0.037525
4014016,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11241,2011-05-17 23:38:30,f,25,NaN,Aichi Prefecture,8202edc429ee5e2289cc089e7208e150,0.037525
4014017,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11242,2010-11-10 12:50:26,m,56,NaN,Fukuoka Prefecture,9090c7fb6426630c92daa06b6b7b2386,0.037525
4014018,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11243,2011-06-28 21:11:56,f,34,NaN,Fukuoka Prefecture,623ea4c917f7513f29b75e93f4141cb6,0.037525
4014020,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11245,2012-03-31 23:06:39,f,56,NaN,Aichi Prefecture,8f11819752d3200442f5a73fe830a107,0.037525
4014021,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11246,2012-04-07 09:23:35,f,52,NaN,Kanagawa Prefecture,287699c5ff9db69ecc268d0386dc5092,0.037525
4014022,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11247,2012-02-22 13:48:28,m,50,NaN,NaN,b4ac740acbcba0f52ed6af7a97bdda2a,0.037525
4014023,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11248,2011-08-11 17:01:02,f,57,NaN,Kanagawa Prefecture,b4e670e2c832fb50f1883e857844e22f,0.037525
4014024,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11249,2011-06-17 01:47:10,m,28,NaN,NaN,479803a1b36cd8eb80e586b5b0bceba3,0.037525
4014025,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11250,2012-03-08 23:30:04,f,32,NaN,NaN,ec97ed6fd9accee2e207112c16322fa6,0.037525
4014026,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11251,2011-04-18 13:32:14,f,43,NaN,Tokyo,09a3c0ae707bced4f9dc44e04e77bbc8,0.037525
4014027,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11252,2011-06-16 16:46:29,m,44,NaN,NaN,27a6d8d7312fed65b8c9e8c33a41d23e,0.037525
4014028,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11253,2010-11-08 08:33:54,m,44,NaN,Saitama Prefecture,6a8cbc19b644d7fcfafb6245b01f9d4d,0.037525
4014029,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11254,2012-01-17 06:52:20,m,45,NaN,Yamagata Prefecture,e187b4a9e2c1e66403617a4882f72f40,0.037525
4014030,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11255,2012-03-11 17:00:16,m,37,NaN,Osaka prefecture,ceb0200f637301f28e789c1f71f80192,0.037525
4014031,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11256,2011-07-26 16:17:52,m,21,NaN,NaN,b2765e9d02a0eeb046796c568f5aa78f,0.037525
4014032,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11257,2012-01-20 17:01:36,m,56,NaN,Chiba Prefecture,78f39a0f834fe51c67429c11a5628bba,0.037525
4014033,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11258,2012-02-09 12:27:18,f,26,NaN,NaN,541f83fbf700f839781a8de2c91bbda8,0.037525
4014034,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11259,2011-05-17 18:42:43,f,42,NaN,Tokyo,06cb1a2801609cbf0e1099b3b9f275cb,0.037525
4014035,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11260,2010-10-15 21:25:53,f,45,NaN,Aichi Prefecture,a43d8b72a7b792ba608afb53aa8a7cb1,0.037525
4014036,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11261,2012-01-02 22:30:51,m,54,NaN,NaN,a9fafff85783d98f25cc0858eda1227b,0.037525
4014037,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11262,2012-04-28 12:05:20,m,41,NaN,Osaka prefecture,b7d67fa6cece5109e40962a1963ca8c8,0.037525
4014038,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11263,2011-05-19 23:03:40,f,52,NaN,Kagoshima prefecture,3aeed6c3889d4c6ee1049c1525557776,0.037525
4014039,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11264,2010-12-09 06:22:13,m,59,NaN,Shiga Prefecture,09240817f60db49a8c627d001dc1cf56,0.037525
4014040,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11265,2011-02-07 19:18:34,m,33,NaN,Tokyo,2ad0c690b2d7270454e06c227cf49810,0.037525
4014041,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11266,2012-02-04 22:30:06,m,56,NaN,Okinawa,f4e4c94554cb3043e032b5dd76c2a74b,0.037525
4014042,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11267,2012-02-15 14:41:30,f,49,NaN,Fukuoka Prefecture,b991d1b58ee4cd862284d6add67418eb,0.037525
4014043,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11268,2011-05-17 14:03:22,m,62,NaN,Hokkaido,ce93bf97e9169bf54f4461976bb52c61,0.037525
4014044,175,Japanese hotel,Hotel and Japanese hotel,50,14700,7350,2012-06-27 12:00:00,2012-07-01 12:00:00,4,2012-07-02,...,0fb2dab415369349676dc3d3e3fba003,1,11269,2011-11-24 12:28:01,f,40,NaN,NaN,02323c1085cc53a0076bc4416e6aa91e,0.037525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961521,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,8129,2011-11-09 11:14:43,m,35,NaN,Tokyo,b5bba0a725fb996bbbe5d856f9c0f055,0.114026
6971628,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,18236,2011-07-10 17:30:58,f,42,NaN,Tokyo,8addb21ecce595141512c31dfb9e0d04,0.114026
6971650,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,18258,2011-12-02 15:32:17,f,40,NaN,Tokyo,d1bc8f1c49506b9f52911cb9a1100e49,0.114026
6968373,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,14981,2010-11-30 10:42:43,f,57,NaN,Tokyo,525a7db27076eeb11192d7a4515056c7,0.114026
6971630,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,18238,2010-12-13 13:08:07,f,34,NaN,Tokyo,10b266daffa7911a4f98c47c3aada15b,0.114026
6956681,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,3289,2011-01-16 21:14:52,f,38,NaN,Tokyo,2d81b53707fdf8ee26c6f959388c4877,0.114026
6968344,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,14952,2011-05-20 20:45:55,f,45,NaN,Tokyo,66c90e09285d07fb0e4df28ef90adaa6,0.114026
6956683,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,3291,2010-08-18 10:30:40,m,57,NaN,Tokyo,6717cd82f3a94af8351283f9edcc08a5,0.114026
6974194,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,20802,2011-02-20 17:23:35,m,59,NaN,Tokyo,a253a81ceddebb67083f53c3fe213ee4,0.114026
6974195,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,20803,2011-05-25 08:40:40,f,45,NaN,Tokyo,ef163fab826f5b4c1d3f71ca9f6dc28a,0.114026
6959540,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,6148,2011-06-19 12:13:57,m,69,NaN,Tokyo,393f3a650d8b016ad62eb7ccbd1874ca,0.114026
6974198,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,20806,2010-12-12 23:17:49,m,52,NaN,Tokyo,7e02d96cfb0d3543f890bb5caa8dd4ce,0.114026
6955181,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,1789,2011-02-13 21:26:40,f,41,NaN,Tokyo,ee2bb375b93fc1169fc0cb032446472f,0.114026
6974200,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,20808,2012-01-23 21:57:11,m,56,NaN,Tokyo,76c6761798cfe4c476e5f780f4b2f12a,0.114026
6965124,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,11732,2012-03-08 20:54:25,f,31,NaN,Tokyo,fae509cbe425a45ba1f8b0be467b09b3,0.114026
6968355,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,14963,2011-02-06 07:08:22,f,53,NaN,Tokyo,ee329fb30124f376ef308297ed0b1740,0.114026
6968356,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,14964,2011-06-20 09:20:34,f,38,NaN,Tokyo,3e97941558da9af616d31c3b33d7f925,0.114026
6965122,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,11730,2010-11-16 21:28:19,m,43,NaN,Tokyo,7f6ba497f924789de948b7075b88e578,0.114026
6961494,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,8102,2010-12-12 23:25:45,f,70,NaN,Tokyo,f87efba78a8ebe5fc45aba95280e6be4,0.114026
6968360,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,14968,2010-10-14 12:03:38,m,28,NaN,Tokyo,50b66ded10a49cab6745e4564e65879e,0.114026
6971633,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,18241,2011-05-23 13:15:30,f,47,NaN,Tokyo,a3442aab65892f1818a5afe309aea9ac,0.114026
6974208,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,20816,2010-11-11 12:57:20,m,38,NaN,Tokyo,549b6bcbd5f28374a1e9a156caa3ce8c,0.114026
6965112,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,11720,2011-06-12 11:28:12,m,65,NaN,Tokyo,d42f23905177ff3cc4f91b6dabdd209b,0.114026
6965111,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,11719,2011-12-03 18:40:40,m,55,NaN,Tokyo,e805ac9cc11c9c6130c8c7228ed84d73,0.114026
6974210,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,20818,2012-05-17 13:09:13,m,54,NaN,Tokyo,585d09629720fb89bec20b3a33d264b2,0.114026
6974211,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,20819,2011-08-30 22:31:55,m,25,NaN,Tokyo,c83701e5a75d26380a70d677602fabff,0.114026
6955177,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,1785,2011-04-18 17:01:47,m,42,NaN,Tokyo,a40489eccddb8d41440939d58339e472,0.114026
6959531,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,6139,2011-12-04 21:25:45,f,30,NaN,Tokyo,e9ac30d5da540db64d199146dc6d3dd3,0.114026
6959528,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,6136,2010-10-23 19:08:40,m,42,NaN,Tokyo,413246b8fdbcda8873650c0416ba80c8,0.114026
6964304,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,10912,2010-12-13 09:48:34,m,25,NaN,Tokyo,90db60b8fd8d51642a56d0d8d2848acd,0.114026

In [35]:
test_df.sort_index(by='predict')[-10:]

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

,Unnamed: 0_x,CAPSULE_TEXT,GENRE_NAME,PRICE_RATE,CATALOG_PRICE,DISCOUNT_PRICE,DISPFROM,DISPEND,DISPPERIOD,VALIDFROM,...,COUPON_ID_hash,cross,Unnamed: 0_y,REG_DATE,SEX_ID,AGE,WITHDRAW_DATE,PREF_NAME,USER_ID_hash,predict
6971633,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,18241,2011-05-23 13:15:30,f,47,NaN,Tokyo,a3442aab65892f1818a5afe309aea9ac,0.114026
6974208,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,20816,2010-11-11 12:57:20,m,38,NaN,Tokyo,549b6bcbd5f28374a1e9a156caa3ce8c,0.114026
6965112,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,11720,2011-06-12 11:28:12,m,65,NaN,Tokyo,d42f23905177ff3cc4f91b6dabdd209b,0.114026
6965111,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,11719,2011-12-03 18:40:40,m,55,NaN,Tokyo,e805ac9cc11c9c6130c8c7228ed84d73,0.114026
6974210,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,20818,2012-05-17 13:09:13,m,54,NaN,Tokyo,585d09629720fb89bec20b3a33d264b2,0.114026
6974211,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,20819,2011-08-30 22:31:55,m,25,NaN,Tokyo,c83701e5a75d26380a70d677602fabff,0.114026
6955177,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,1785,2011-04-18 17:01:47,m,42,NaN,Tokyo,a40489eccddb8d41440939d58339e472,0.114026
6959531,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,6139,2011-12-04 21:25:45,f,30,NaN,Tokyo,e9ac30d5da540db64d199146dc6d3dd3,0.114026
6959528,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,6136,2010-10-23 19:08:40,m,42,NaN,Tokyo,413246b8fdbcda8873650c0416ba80c8,0.114026
6964304,304,Other,Other coupon,95,2000,100,2012-06-28 12:00:00,2012-07-03 12:00:00,5,2012-07-05,...,c988d799bc7db9254fe865ee6cf2d4ff,1,10912,2010-12-13 09:48:34,m,25,NaN,Tokyo,90db60b8fd8d51642a56d0d8d2848acd,0.114026